@media all and (max-width: 67.5em) { 
    .entry {
		width: 100%;
    }
    #login {
    	margin-top: 10px;
    	height: 300px;
    }
    #signupLink {
    	display: inherit;
    	margin-left: 126px;

    }
    #signup {
    	display: none;
    }
    .welcome {
    	display: none;
    }
}
